
body.maxHeight {
    height: 98vh;
}

.container-fluid {
    height: auto; /*height: 88%;*/
}

/*---------------------------------- NAVIGATION BAR ----------------------------------*/

li.myNavBar{
    padding: 5px 0px 5px 0px;
}

li.myNavBar:hover{
    background-color: #b4c8ff !important;

}

#myActiveNavBar{
    background-color: rgba(175, 199, 236, 0.46);
}

div.myNavBar{
    padding: 0px;
    margin: 16px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

a.myNavBar {
    color: black;
}

a.myNavBar:link {
    text-decoration: none;
    color: black;
}

a.myNavBar:visited {
    text-decoration: none;
    color: black;
}

a.myNavBar:hover {
    text-decoration: none;
    color: black;

}

a.myNavBar:active {
    text-decoration: none;
    color: black;
}

/*---------------------------------- VERTICAL LEFT MENU ----------------------------------*/

#myActiveVLeftMenu{
    background-color: rgba(175, 199, 236, 0.46);
}

div.vLeftMenu {
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    max-height: 88vh;
    overflow: auto;
    min-height: 69%;
}

@media (max-width: 767px) {
    div.vLeftMenu {
        height: 100%;
    }
}

ul.vLeftMenu {
    padding: 1px;
    overflow: auto;
}

li.vLeftMenu {
    padding: 10px 15px 10px 15px;
    margin: 10px;
    list-style-type: none;
    text-align: center;
    /*min-width: 160px;*/
}

li.vLeftMenu > span {

}

li.vLeftMenu.On:hover {
    background-color: #b4c8ff !important;

}

li.vLeftMenu.On {
    background-color: #e9e9e9;
    color: #1a1e24;
}

li.vLeftMenu.Off {
    background-color: #f0f0f0;
    color: #c5c5c5;
}

a.Off {
    text-decoration:none;
    pointer-events:none;
}

ul.vLeftMenu > a {
    text-decoration: none;
}

/*----------------------------------MAIN PANEL ----------------------------------*/

@media (min-width: 768px) {
    #mainPanel {
        padding-left: 3px;
    }
}

div.mainPanel {
    padding: 50px 70px 0px 70px;
    margin: 0px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    overflow: auto;

}

@media (max-width: 767px) {
    div.mainPanel {
        margin-top: 16px;
    }
}

div.mainPanel > h1 {
    margin-bottom: 30px;
}

.marginBottom {
    margin-bottom: 30px !important;
}

input.marginBottom {
    margin-bottom: 5px;
}

div.marginBottom > label {
    display: block;             /*Puede que esto haga que no pueda poner cosas alineadas en horizontal*/
}

small.helperRed {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.bordered {
    padding: 20px;
    border-color: darkgray;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}

.emoji {
    font-family: "Segoe UI Emoji", "Noto Color Emoji", "Apple Color Emoji"  ;
    font-size: 25px;
    /*margin-left: 6px;*/
    cursor: default;
}

div.myTooltip {
    display: block ruby;
    margin-left: 6px;
    background-color: #e9e9e9;
    color: #696969;
    border-radius: 5px;
    padding: 6px 8px 6px 8px;
}

span.myTooltipText {
    margin-inline: 3px;
}

.btn-light {
    color: #212529 !important;
    background-color: #ffffff !important;
    border-color: #ced4da !important;       /*#adb5bd !important TO DARKER BORDERS*/
}

.btn-light-invalid ~ button {
    border-color: #dc3545 !important;
}

/*---------------------------------- PROFILE SELECTOR ----------------------------------*/

#profileSelectorActive{
    background-color: rgba(175, 199, 236, 0.46);
}

div.profileSelector {
    padding: 0px;
    margin: 20px 0px 50px 0px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow: auto;
}

ul.profileSelector {
    padding: 1px;
    overflow: auto;
    margin-bottom: 0px;
}

ul.disabled > li {
    background-color: #f8f8f8;
    color: #c5c5c5;
}

li.profileSelector {
    /*padding: 10px 15px 10px 15px;*/
    margin: 10px;
    list-style-type: none;
    text-align: center;
    /*min-width: 160px;*/
    background-color: #e9e9e9;
    color: #1a1e24;
}

li.profileSelector:hover {
    background-color: rgba(175, 199, 236, 0.46);
}
ul.disabled > li.profileSelector:hover {
    background-color: #f8f8f8 !important;
}

.profileRadioContainer {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 15px 10px 15px;
}

ul.profileSelector input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radioBtn:checked + .profileRadioContainer{
    background-color: #b4c8ff!important;
}

ul.disabled .radioBtn:checked + .profileRadioContainer{
    background-color: #f8f8f8!important;
}

#uploadProfileInputs.disabled label{
    color: #c5c5c5 !important;
}

#shadowProfileDiv.is-invalid {
    /*box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 0.25);*/
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255,0,0,0.75);
    box-shadow: 0px 0px 0px 1px rgba(255,0,0,0.75);
}

#profileDisplay_textArea.is-invalid {
    /*box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 0.25);*/
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255,0,0,0.75);
    box-shadow: 0px 0px 0px 1px rgba(255,0,0,0.75);
}

#profileWrite.is-invalid {
    /*box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 0.25);*/
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255,0,0,0.75);
    box-shadow: 0px 0px 0px 1px rgba(255,0,0,0.75);
}

#profileUpload.is-invalid {
    /*box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 0.25);*/
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255,0,0,0.75);
    box-shadow: 0px 0px 0px 1px rgba(255,0,0,0.75);
}

#profileDisplay{
    display: block;
    /* min-height: 200px; */
    height: 100%;
    font-size: 18px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    min-height: 500px;
    max-height: 600px;
}

#profileDisplay > textarea {
    width: 100%;
    resize: none;
}

#profileDisplay > textarea:first-child {
    height: 75%;
}

#profileDisplay > textarea:last-child {
    height: 25%;
}

#shadowProfileDiv {
    min-height: 500px;
    max-height: 600px;
}



/*------------------------------------- ADD EXPERIMENT RIGHT -------------------------------------*/

.nav-tabs {
    border-bottom: 2px solid #dee2e6 !important;
}

.nav-tabs .nav-link {
    color: #0f6cc9;
    background-color: #ffffff00;
    border-color: #dee2e6 #dee2e6 #fff;
    border-width: 0px 0px 0px 0px !important;
    transition: text-shadow 0.2s ease-in-out;
}

.nav-tabs .nav-link:hover:not(.active) {
    background-color: #ffffff00;
    border-color: #dee2e6 #dee2e6 #fff;
    border-width: 0px 0px 0px 0px !important;
    text-shadow: 0 0 15px #0f6cc970;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-width: 2px 2px 0px 2px !important;
    margin-bottom: -2px !important;
}

#nav-tab > .nav-link.disabled {
    color: #696969;
    font-weight: bold;
}

.tab-content>.tab-pane {
    border: 2px solid #dee2de;
    border-top-width: 0px;
    padding: 10px;
    background-color: #fff;
    min-height: 200px;
}

.profileSelectorAddExperiments {
    padding: 0px;
    /* margin: 15px 0px 15px 15px; */
    margin: 0px;
    /* box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1); */
    /* max-height: 300px; */
    height: 100%;
    overflow: auto;
    border: 1px solid #d4d4d4;
}


/*----------------------------------------- PROFILE WRITE ----------------------------------------*/

#profileWrite{
    display: block;
    /* min-height: 200px; */
    height: 100%;
    font-size: 18px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    min-height: 500px;
    max-height: 600px;
}

#profileWrite > div {
    width: 100%;
    height: 100%;
    resize: none;
}

#profileUpload{
    display: block;
    /* min-height: 200px; */
    height: 100%;
    font-size: 18px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    min-height: 500px;
    max-height: 600px;
}

#profileUpload > div {
    width: 100%;
    height: 100%;
    resize: none;
}

#shadowProfileDiv {
    min-height: 500px;
    max-height: 600px;
}

.underline-error {
  -webkit-text-decoration: underline wavy #be4c22;
  text-decoration: underline wavy #be4c22;
} 

.editable-div {
    width: 500px;
    height: 70px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px;
    overflow-x: auto;
    white-space: nowrap;
}

.editable-div[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}

.editable-div[placeholder]:empty:focus:before {
    content: "";
}

.editable-div i {
    -webkit-text-decoration: underline wavy #be4c22;
    text-decoration: underline wavy #be4c22;
}


/*-------------------------------------  IMPORT  EXPERIMENT  -------------------------------------*/

#drop_zone.is-invalid {
    /*box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 0.25);*/
    border-color: red;
}


/*------------------------------------- TOOLTIP GRAPH PREVIEW ------------------------------------*/

/* Tooltip container */
._tooltip {
    position: relative;
    /*display: inline-block;
    border-bottom: 1px dotted black; */ /* If you want dots under the hoverable text */
}

/* Tooltip text */
._tooltip ._tooltiptext {
    visibility: hidden;
    opacity: 0;
    min-width: 250px;
    background-color: rgb(150, 150, 150);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    transition: 0.5s;
    transform: scale(0);
    transform-origin: top right;
    
    /*top: 69%;*/
    right: 70%;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
}

/* Show the tooltip text when you mouse over the tooltip container */
._tooltip:hover ._tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

._tooltiptext img {
    position: relative;
    
}

/*---------------------------------- EQUIPMENT CHECKER SELECTOR ----------------------------------*/

/*.equipmentCheckerSelector {*/

/*}*/

/*div.equipmentCheckerSelector {*/
/*    padding: 0px;*/
/*    margin: 0px;*/
/*    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);*/
/*    max-height: 88vh;*/
/*    overflow: auto;*/
/*}*/

/*ul.equipmentCheckerSelector {*/
/*    padding: 1px;*/
/*    overflow: auto;*/
/*    margin-bottom: 0px;*/
/*}*/

/*ul.disabled > li {*/
/*    background-color: #f8f8f8;*/
/*    color: #c5c5c5;*/
/*}*/

/*li.equipmentCheckerSelector {*/
/*    !*padding: 10px 15px 10px 15px;*!*/
/*    margin: 10px;*/
/*    list-style-type: none;*/
/*    text-align: center;*/
/*    !*min-width: 160px;*!*/
/*    background-color: #e9e9e9;*/
/*    color: #1a1e24;*/
/*}*/

/*li.equipmentCheckerSelector:hover {*/
/*    background-color: rgba(175, 199, 236, 0.46);*/
/*}*/
/*ul.disabled > li.equipmentCheckerSelector:hover {*/
/*    background-color: #f8f8f8 !important;*/
/*}*/

/*.equipmentCheckerContainer {*/
/*    display: block;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*    padding: 10px 15px 10px 15px;*/
/*}*/

/*ul.equipmentCheckerSelector input {*/
/*  !*position: absolute;*!*/
/*  display: none;*/
/*  opacity: 0;*/
/*  cursor: pointer;*/
/*  height: 0;*/
/*  width: 0;*/
/*}*/

/*.checkBtn:checked + .profileRadioContainer{*/
/*    background-color: #b4c8ff!important;*/
/*}*/

/*ul.disabled .checkBtn:checked + .profileRadioContainer{*/
/*    background-color: #f8f8f8!important;*/
/*}*/

/*#shadowProfileDiv.is-invalid {*/
/*    box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 0.25);*/
/*}*/

div.experimentsMainPanel {
    padding: 20px 70px 0px 70px;
    margin: 0px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    /*overflow: auto;*/

}

div.experimentsMainPanel > h1 {
    margin-bottom: 30px;
}

/*------- BUTTON SHOW FILTERS -------*/

:root {
    --myBlue: rgba(175, 199, 236, 0.46);
    --myBlueDarker: rgba(141, 162, 194, 0.46);

    --myBlueHover: #b4c8ff;
    --myBlueHoverDarker: #8292bd;
}

.btn-filters {
    font-size: small !important;
    color: #000 !important;
    background-color: var(--myBlue) !important;
    border-color: var(--myBlueDarker) !important;
    /*border: none!important;*/
    border-width: 2px !important;
    padding: .3em 1em !important;
    margin-bottom: 10px;
}

.btn-filters:hover {
    color: #000 !important;
    background-color: var(--myBlueHover) !important;
    border-color: var(--myBlueHoverDarker) !important;
    /*border: none!important;*/
    border-width: 2px!important;
}

#filtersContainer {
    width: 100%;
    min-height: 300px;
    margin-top: 5px;
    margin-bottom: 15px;
}

td {
    vertical-align: middle !important;
}